body{

    font-family: sans-serif;

}
body::before{
    content: '/';
    display: block;
    height: 60px;
}
.light li a{
    color: white;
    text-decoration: none;
}
.light{
    color: white;
    text-decoration: none;
}
.light1 li a{
    color:black;
    text-decoration: none;
}
.light li a:hover{
    color: rgb(244, 149, 6); 
    border-bottom: 2px solid  rgb(244, 149, 6);
}
.button-1{
    color:white;
    background-color: rgb(244, 149, 6);
    border: none;
    border-radius: 10px ;
    padding: 7px;
    text-align: center;
}
.lik:hover{
    color: rgb(244, 149, 6); 
    border-bottom: 2px solid  rgb(244, 149, 6);
}
.button-1:hover{
    background-color: rgb(48, 95, 235);
}
.home{
    background-color:rgb(33, 37, 41);
  
   
}
.fool{
    font-size: 1.5rem;
}
.fool1{
    font-size: 1rem;
}
.bor{
    border-bottom: 2px solid  rgb(244, 149, 6);
    width: 90px;
}
.bor1{
    border-bottom: 2px solid  rgb(244, 149, 6);
    width: 90px;
    margin: 0 auto;
}
.big{
    background-color:  rgb(252, 152, 1);
    border-radius: 5px;
}
.page{
    padding: 50px 30px;
}
.stand{
    font-size: 1.3rem;
}
.went{
    background-color:white;
    box-shadow: 0px 0px 30px rgb(215, 155, 66);
    border-radius: 20px;
}
.hear{
    color:  rgb(252, 152, 1);
}
.raid{
    background-image: linear-gradient(to bottom, rgba(256, 210, 156), rgba(234, 228, 228) ) ;
    padding-bottom: 7%;
    padding-top: 20px;
}
.yar{
    width: 80%;
    padding-left: 20%;
    padding-top: 10%;
}
.cain{
    justify-content: center;
}
footer{
    background-color: rgba(33, 37, 41);
    padding-bottom: 10px;
}
.bill{
    background-color: white;
    border-radius: 20px;
    width: 44%;
    margin: 0 auto;
    border: 2px solid white;  
}
.dif{
    background-color: rgb(244, 149, 6) ;
    padding: 15px;
    border: none;
    width: 30%;
    border-radius: 10px;
    margin-right: 2%;
}
.ifon{
    color: rgb(135, 130, 130);
}
.bord{
    border-bottom: 2px solid  rgb(244, 149, 6);
}
.bill input{
    outline: none;
    border: 0;
    border-radius: 20px;
    padding: 5%;
}










 


















 @media (max-width:1000px){
    .yar{
        width: 100%;
         padding-left: 3%;
         padding: 3%;
         font-size: 1.5rem;
     
        }
        .rew{
        text-align: center;
           }
           .dif{
            background-color: rgb(244, 149, 6) ;
           
            border: none;
            width: 35%;
            border-radius: 10px;
            padding: 2%;
        
        }
        .bill input{
            outline: none;
            border: 0;
            border-radius: 20px;
            font-size: 12px;
        }
        .bill{
            background-color: white;
            border-radius: 10px;
            width: 100%;
            margin: 0 auto;
            border: 2px solid white;
        }
}